<!doctype html>
<html ng-app="lrng">
<head>
    <meta charset="utf-8">
    <title>Yolo!</title>
    <link rel="stylesheet" href="vendor/css/font-awesome.css">
    <link rel="stylesheet" href="all.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <top-nav></top-nav>
    <section ui-view></section>

    <script src="vendor/angular.js"></script>
    <script src="vendor/angular-ui-router.js" charset="utf-8"></script>
    <script src="vendor/ui-bootstrap-tpls.js" charset="utf-8"></script>
    <script src="vendor/angular-jwt.js" charset="utf-8"></script>
    <script charset="utf-8">
    // app
    angular.module('lrng', ['templates', 'angular-jwt', 'ui.bootstrap', 'ui.router', 'lrng.states', 'lrng.directives'])
        .config(function($urlRouterProvider){
            $urlRouterProvider.otherwise("/");
        });

    // directives
    angular.module('lrng.directives', [
        'lrng.top-nav'
        ]);
    angular.module('lrng.top-nav', ['ui.router']);

    // states
    angular.module('lrng.states', [
        'lrng.home',
        'lrng.about'
        ]);
    angular.module('lrng.home', ['ui.router', 'lrng.inspiring']);
    angular.module('lrng.about', ['ui.router']);

    // services
    angular.module('lrng.inspiring', []);

    // templates
    angular.module('templates', []);

    </script>
    <% scripts.forEach(function(script){%>
    <script src="<%=script%>" charset="utf-8"></script>
    <% });%>
</body>
</html>
